
<table border=0 cellpadding=0 cellspacing=0>
	<% count = 0 %>
	<% @posts.each do |post| %>
	<tr>
		<td align=right valign=top class="title"><%= count += 1 %>.</td>
		<%= render post %>
	</tr>
	<tr style="height:5px"></tr>
	<% end %>
	<% if @posts.empty? %>
	<tr>
		<td>
			no posts here...
		</td>
	</tr>
	<tr style="height:5px"></tr>

	<% end %>
	<tr style="height:10px"></tr>
	<tr><td colspan=2></td><td class="title"><%= paginate @posts %></td></tr>
</table>


