
<table border="0">
	<tbody>

		<tr>
			<td></td>
			<%= render @post %>

		</tr>
		<tr style="height:10px"></tr>
		<tr>
			<td></td><td></td>
			<td>

				<%= render :partial => "comments/form", 
					:locals => { :parent => @post, :comment => @comment } %>

	  	</td>
		</tr>
	</tbody>
</table>

<br><br>
<% @post.comments.nested.each do |comment| %>
<%= render comment %>
<% end %>